* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  background: #f3f3f3;
  flex-direction: column;
  font-family: 'PT Sans';
  justify-content: center;
  padding: 60px 20px 40px 20px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.tagline {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
}

.description {
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  max-width: 320px;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0.5px;
}

.bold-small {
  opacity: 0.7;
  font-size: 14px;
  font-weight: 600;
  max-width: 320px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

.card {
  max-width: 400px;
  background: #fff;
  border-radius: 8px;
  padding: 30px 40px;
  margin: 20px 0 20px;
  border: 1px solid #999;
}

.submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  width: 100%;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  padding: 12px 8px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  border: 1px solid rgba(86, 46, 249, 0.85);
  background-color: rgba(86, 46, 249, 0.75);
}

.submit:hover {
  background-color: rgba(86, 46, 249, 0.85);
}

.copy-button {
  width: 100%;
  color: #fff;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  padding: 12px 8px;
  border-radius: 8px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  border: 1px solid rgba(86, 46, 249, 0.85);
  background-color: rgba(86, 46, 249, 0.75);
}

.copy-button:hover {
  background-color: rgba(86, 46, 249, 0.85);
}

.field {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

label {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.input {
  width: 50%;
  height: 35px;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  border: 1px solid #999;
  background-color: #f3f3f3;
}

input#name {
  margin-right: 4px;
  margin-bottom: 0;
}

select#domain {
  min-height: 100%;
  margin-left: 4px;
  margin-bottom: 0;
  outline: none;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  border: 1px solid #999;
  background-color: #f3f3f3;
}

.input.full-width {
  width: 100%;
}


.domain-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}

select {
  height: 35px;
  outline: none;
  padding: 0 5px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 25px;
  letter-spacing: 0.5px;
  border: 1px solid #999;
  background-color: #f3f3f3;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.resource-button {
  padding: 8px;
  color: #8062fb;
  font-weight: 400;
  margin-bottom: 8px;
  border-radius: 7px;
  text-decoration: none;
}

.resource-button:hover {
  color: #8062fb;
  background: rgba(42, 0, 255, 0.07);
}

.owner {
  display: flex;
  padding-top: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.owner-button {
  padding: 8px;
  color: #8062fb;
  font-weight: 400;
  margin-bottom: 8px;
  border-radius: 7px;
  text-decoration: none;
}

.owner-button:hover {
  color: #8062fb;
  background: rgba(42, 0, 255, 0.1);
}

.owner-name {
  font-weight: 600;
}

.code {
  width: 320px;
  background: #f3f3f3;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #999999;
  white-space: pre-wrap;
  word-break: break-all;
}

#qr {
  margin: 20px auto;
  display: block;
}

@media screen and (max-width: 500px) {
  body {
    padding: 20px 5px 30px 5px;
  }

  .title {
    font-size: 30px;
  }

  .card {
    padding: 25px;
  }

  .tagline {
    font-size: 16px;
    padding: 0 10px;
  }

  .domain-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input#name {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
  }

  select#domain {
    margin: 0;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
  }

  .input {
    margin-bottom: 5px;
    width: 100%;
  }

  .input.full-width {
    margin-bottom: 25px;
  }
}
